#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.pagination > li > a, span, strong, select
{
    background-color: white;
    color: black;
}

td > a {
  width: 160px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
